@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech+Mono&display=swap');

:root {
  --primary-color: #39FF14;
  --secondary-color: #00FFFF;
  --accent-color: #FF073A;
  --background-color: #0D0D0D;
  --text-color: #E0E0E0;
  --font-primary: 'Share Tech Mono', monospace;
  --font-secondary: 'Roboto', sans-serif;
}

::-moz-selection {
  background: rgba(50, 50, 50, 0.8);
}

::selection {
  background: rgba(50, 50, 50, 0.8);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
  align-items: center;
  color: var(--text-color);
  font-family: var(--font-primary);
}